<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hello springboot-up!!!</h1>
<form th:action="@{/spring/update}" method="get">
    <input type="hidden" name="id" th:value="${goods.id}"/>
    <ul>
        <li>name:
        <li><input type="text" name="name" th:value="${goods.name}"/>
        <li>remark:
        <li><textarea rows="3" cols="30" name="remark" th:text="${goods.remark}"></textarea>
        <li><input type="submit" value="up"/>
    </ul>
</form>
</body>
</html>